[submodule "OOP/ParallelQuickSort"]
	path = OOP/ParallelQuickSort
	url = https://github.com/SkivHisink/ParallelQuickSort
[submodule "OOP/MultiThreadingRecording"]
	path = OOP/MultiThreadingRecording
	url = https://github.com/SkivHisink/MultiThreadingRecording
[submodule "OOP/ArithmeticGame"]
	path = OOP/ArithmeticGame
	url = https://github.com/SkivHisink/Arithmetic-Game-
[submodule "OOP/QuickSort"]
	path = OOP/QuickSort
	url = https://github.com/SkivHisink/QuickSort
[submodule "OOP/MiniFlow"]
	path = OOP/MiniFlow
	url = https://github.com/SkivHisink/MiniFlow
[submodule "OOP/ObjectPool"]
	path = OOP/ObjectPool
	url = https://github.com/SkivHisink/ObjectPool
[submodule "OOP/NumericalMethods"]
	path = OOP/NumericalMethods
	url = https://github.com/SkivHisink/Numerical-Methods
[submodule "OOP/MergingFwdIterator"]
	path = OOP/MergingFwdIterator
	url = https://github.com/SkivHisink/MergingFwdIterator
[submodule "OOP/EncryptionModes"]
	path = OOP/EncryptionModes
	url = https://github.com/SkivHisink/EncryptionModes
[submodule "OOP/Comics"]
	path = OOP/Comics
	url = https://github.com/SkivHisink/Comics
[submodule "BasicsOfOperatingSystem"]
	path = BasicsOfOperatingSystem
	url = https://github.com/SkivHisink/OperationalSystem
[submodule "OOP/PatternFactoryC"]
	path = OOP/PatternFactoryC
	url = https://github.com/SkivHisink/Pattrern-Factory-C/
[submodule "3D/QTCube"]
	path = 3D/QTCube
	url = https://github.com/SkivHisink/QT_Cube
[submodule "3D/OpenGL"]
	path = 3D/OpenGL
	url = https://github.com/SkivHisink/OpenGLProg
[submodule "OPK/Snake"]
	path = OPK/Snake
	url = https://github.com/SkivHisink/Snake
[submodule "BasicsOfComputationalPhysics"]
	path = BasicsOfComputationalPhysics
	url = https://github.com/SkivHisink/BasicsOfComputationalPhysics
[submodule "RealScience/CombustionAndFireModeling"]
	path = RealScience/CombustionAndFireModeling
	url = https://github.com/SkivHisink/HydrodynamicModeling
[submodule "DeepLearning"]
	path = DeepLearning
	url = https://github.com/SkivHisink/SoDeepLearning
[submodule "BasicsofProgMicrocontrollers"]
	path = BasicsofProgMicrocontrollers
	url = https://github.com/SkivHisink/Microcontrollers_STM
[submodule "DataProcessingMethodsInScience"]
	path = DataProcessingMethodsInScience
	url = https://github.com/SkivHisink/DPMiSR
[submodule "RealScience/MolecularDynamicModel"]
	path = RealScience/MolecularDynamicModel
	url = https://github.com/SkivHisink/MolecularDynamicsCpp
[submodule "MachineLearning"]
	path = MachineLearning
	url = https://github.com/SkivHisink/MachineLearning_Practice
